body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.default-padding {
	padding: 1rem;
}

.small-padding {
	padding: 0.5rem;
}
.small-padding-wide {
	padding: 0.5rem 1rem;
}

.icon-margin-left {
	margin-left: 0.5rem;
}

.cursor-pointer {
	cursor: pointer;
}
